<div class="row mt-3">
    <div class="col-8 offset-2 bg-light">
        <div class="row shadow-lg">
            <div class="col-4">
                <h4 class="mt-1 name"></h4>
                <p class="seats">Seats: </p>
                <p class="category"></p>
            </div>
            <div class="col-4 offset-4">
                <h4 class="text-center mt-4 price"> CZK / day</h4>
                <button class="btn btn-primary btn-lg btn-block mt-4 rent" type="submit">Rent</button>
            </div>
        </div>
    </div>
</div>
<div class="carlist"></div>